<a class="wcb-docs-title" href="/">
	<img
		class="logo-dark wcb-docs-title__logo"
		src="/brand/wixcli-bible-dark-transparent.png"
		alt="Wix CLI Bible by m.space"
	/>
	<img
		class="logo-light wcb-docs-title__logo"
		src="/brand/wixcli-bible-light-transparent.png"
		alt="Wix CLI Bible by m.space"
	/>
</a>
