<a class="wcb-docs-title" href="/">
	<img
		class="logo-dark wcb-docs-title__logo"
		src="/brand/CLIBibleDarkTransparentBg.png"
		alt="Wix CLI Bible by m.space"
	/>
	<img
		class="logo-light wcb-docs-title__logo"
		src="/brand/CLIBibleLightTrasparentBg.png"
		alt="Wix CLI Bible by m.space"
	/>
</a>
