<a class="wcb-docs-title" href="/">
	<img class="logo-dark wcb-docs-title__logo" src="/brand/moenga-light-transparent.png" alt="Moenga Space" />
	<img class="logo-light wcb-docs-title__logo" src="/brand/moenga-dark-transparent.png" alt="Moenga Space" />
</a>
